.toggle-container {
  padding-block: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: typegraphy.$fontFamilyMain;
  font-size: typegraphy.$font-size-p6;
  color: colors.$textLightSecondary;
}

.toggle-wrapper {
  border-radius: radius.$border-special;
  outline: 1px solid colors.$borderLightPrimary;
  background-color: colors.$bgLightSecondary;
  z-index: 0;
  position: relative;
}

.toggle-wrapper:has(.toggle-input:checked) {
  background-color: colors.$bgLightAccent;
}
.toggle-wrapper:not(:has(.toggle-input:checked)) {
  background-color: colors.$bgLightSecondary;
}

.toggle-wrapper:has(.toggle-input:hover) {
  background-color: colors.$bgLightAccentHover;
}

.toggle-wrapper:not(:has(.toggle-input:checked)):hover {
  background-color: colors.$bgLightSecondaryHover;
}

.toggle-wrapper:has(.toggle-input:active) {
  background-color: colors.$bgLightAccentActive;
}

.toggle-wrapper:not(:has(.toggle-input:checked)):active {
  background-color: colors.$bgLightSecondaryHoverActive;
}

.large-toggle-wrapper {
  width: 40px;
  height: 20px;
}
.medium-toggle-wrapper {
  width: 36px;
  height: 18px;
}
.small-toggle-wrapper {
  width: 32px;
  height: 16px;
}
.xs-toggle-wrapper {
  width: 28px;
  height: 14px;
}

.toggle-input {
  width: 36px;
  height: 18px;
  border-radius: radius.$border-special;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}

.toggler-svg {
  fill: colors.$colorBlack600;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%);
  margin-right: 2px;
  transition: 0.3s ease;
}

.toggle-wrapper input:checked + .toggler-svg {
  left: 50%;
  fill: colors.$colorWhiteMain;
}

.toggle-wrapper input:disabled + .toggler-svg {
  fill: colors.$bgLightDisabled;
}




