@import '../../../../styles/colors.scss';
@import '../../../../styles/typegraphy.scss';
@import '../../../../styles/radius.scss';

.tag-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: $bgLightSecondary;
  border-radius: $border-large;
  width: fit-content;
  text-wrap: nowrap;
}
.large-tag-wrapper {
  padding: 14px 16px;
  font-size: $font-size-p3;
}
.medium-tag-wrapper {
  padding: 12px 14px;
  font-size: $font-size-p5;
}
.small-tag-wrapper {
  padding: 10px 12px;
  font-size: $font-size-p7;
}

.multi-select-svg {
  z-index: 10;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.multi-select-svg:hover {
  transform: rotate(90deg); 
}

.large-multi-select-svg {
  width: 20px;
  height: 20px;
}
.medium-multi-select-svg {
  width: 16px;
  height: 16px;
}
.small-multi-select-svg {
  width: 14px;
  height: 14px;
}
