:root {
  --segment-bg-default-color: rgba(8, 9, 28, 0.04);
  --segment-bg-white-color: #fff;

  --element-bg-color: rgba(151, 71, 255, 0.06);
  --text-color: rgba(151, 71, 255, 1);
}

.segment-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.segment-group {
  display: flex;
  max-width: 550px;
  width: 100%;
  padding: 4px;
  border-radius: 8px;
  position: relative;
}

.segment-element {
  flex-grow: 1;
}

.segment-group-white {
  background-color: var(--segment-bg-white-color);
}
.segment-group-default {
  background-color: var(--segment-bg-default-color);
}

.sliding-background {
  position: absolute;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease; 
  pointer-events: none; 
}

.sliding-background-default {
  top: 50%;
  height: calc(100% - 8px);
  background-color: var(--element-bg-color);
  border-radius: 8px;
}
.sliding-background-white {
  bottom: 0;
  height: 2px;
  background-color: var(--text-color);
}
