:root {
  --segment-bg-default-color: rgba(8, 9, 28, 0.04);
  --segment-bg-white-color: #fff;

  --element-bg-color: rgba(151, 71, 255, 0.06);
  --text-color: rgba(151, 71, 255, 1);
  --fontFamilyMain: 'Inter', 'Arial', sans-serif;
}

.segment-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.segment-group {
  max-width: 550px;
  width: 100%;

  padding: 4px;
  display: flex;
  border-radius: 8px;
  position: relative;
}

.segment-group-white {
  background-color: var(--segment-bg-white-color);
}
.segment-group-default {
  background-color: var(--segment-bg-default-color);
}

.segment-element {
  flex-grow: 1;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-family: var(--fontFamilyMain);
  cursor: pointer;
  font-weight: 500;
  user-select: none;
  position: relative;
}

.large-segment-element {
  font-size: 16px;
  padding: 16px 18px;
}
.medium-segment-element {
  font-size: 14px;
  padding: 16px;
}
.small-segment-element {
  font-size: 12px;
  padding: 14px 16px;
}
.xsmall-segment-element {
  font-size: 10px;
  padding: 12px 16px;
}

.sliding-background {
  position: absolute;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease; 
  pointer-events: none; 
}

.sliding-background-default {
  top: 50%;
  height: calc(100% - 8px);
  background-color: var(--element-bg-color);
  border-radius: 8px;
}
.sliding-background-white {
  bottom: 0;
  height: 2px;
  background-color: var(--text-color);
}
