.storage-container {
  background-color: colors.$colorWhiteMain;
  width: 100%;
  padding: 24px;
  border-radius: radius.$border-large;

  font-family: typegraphy.$fontFamilyMain;
}

.storage-wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.dividing-line {
  border: 1px solid colors.$borderLightPrimary;
  margin-block: 16px;
  width: 100%;
}
