.button {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  gap: 8px;
  background: none;
  border: none;
  border-radius: radius.$border-large;
  cursor: pointer;
  font-family: typegraphy.$fontFamilyMain;
  line-height: typegraphy.$line-height;
  font-weight: 500;
  text-transform: capitalize;
}

.rounded-button {
  border-radius: radius.$border-rounded;
}

.large-button {
  padding: 16px 18px;
  font-size: typegraphy.$font-size-p4;
}
.medium-button {
  padding: 16px;
  font-size: typegraphy.$font-size-p6;
}
.small-button {
  padding: 14px 16px;
  font-size: typegraphy.$font-size-p8;
}
.xs-button {
  padding: 12px 16px;
  font-size: typegraphy.$font-size-p10;
}

.mini-button {
  justify-content: center;
  box-sizing: border-box;
}
.mini-large-button {
  width: 48px;
  height: 48px;
  padding: 14px;
}
.mini-medium-button {
  width: 40px;
  height: 40px;
  padding: 12px;
}
.mini-small-button {
  width: 32px;
  height: 32px;
  padding: 9px;
}
.mini-xs-button {
  width: 24px;
  height: 24px;
  padding: 7px;
}

.primary-button {
  background-color: colors.$bgLightAccent;
  color: colors.$bgLightPrimary;
}
.primary-button:hover {
  background-color: colors.$bgLightAccentHover;
}
.primary-button:active {
  background-color: colors.$bgLightAccentActive;
}

.secondary-button {
  background-color: colors.$bgLightAccentSubdued;
  color: colors.$textLightAccent;
}
.secondary-button:hover {
  background-color: colors.$bgLightAccentSubduedHover;
  color: colors.$textLightAccent;
}
.secondary-button:active {
  background-color: colors.$bgLightAccentSubduedActive;
  color: colors.$textLightAccent;
}

.large-button-svg {
  max-width: 20px;
  max-height: 20px;
}
.medium-button-svg {
  max-width: 16px;
  max-height: 16px;
}
.small-button-svg {
  max-width: 14px;
  max-height: 14px;
}
.xs-button-svg {
  max-width: 12px;
  max-height: 12px;
}

.clear-button {
  background-color: none;
  color: colors.$textLightAccent;
}
.clear-button:hover {
  background-color: none;
  color: colors.$textLightAccentHover;
}
.clear-button:active {
  background-color: none;
  color: colors.$textLightAccentActive;
}

.critical-button {
  background-color: colors.$bgLightCritical;
  color: colors.$bgLightPrimary;
}
.critical-button:hover {
  background-color: colors.$bgLightCriticalHover;
  color: colors.$bgLightPrimary;
}
.critical-button:active {
  background-color: colors.$bgLightCriticalActive;
  color: colors.$bgLightPrimary;
}

.critical-secondary-button {
  background-color: colors.$bgLightCriticalSubdued;
  color: colors.$textLightCritical;
}
.critical-secondary-button:hover {
  background-color: colors.$bgLightCriticalSubduedHover;
  color: colors.$textLightCriticalHover;
}
.critical-secondary-button:active {
  background-color: colors.$bgLightCriticalSubduedActive;
  color: colors.$textLightCriticalActive;
}

.button:disabled {
  background-color: colors.$bgLightDisabled;
  color: colors.$textLightDisabled;
  cursor: default;
}

