.testimonials {
  min-height: 95vh;
  margin-inline: 40px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.testimonials > *:last-child {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.testimonials > *:last-child > span {
  color: #f1f1f1;
  font-size: 24px;
  text-transform: uppercase;
}
.testimonials > *:last-child > svg {
  transform: rotate(135deg);
}

.testTitle {
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  text-align: center;
}
.testTitle > p:first-child {
  letter-spacing: -2px;
}
.testTitle > p:last-child {
  font-size: 24px;
  max-width: 850px;
}

.testList {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listOrder {
  gap: 24px;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.listCard {
  background: url("../../../../public/testimonialFrame.svg") no-repeat;
  background-size: cover;
  max-width: 408px;
  width: 100%;
  min-height: 150px;
  height: 100%;
}
.listCard > p:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 12px 22px;
}
.listCard > p:first-child > span:first-child {
  font-size: 16px;
  color: #f1f1f1;
  text-transform: uppercase;
}
.listCard > p:first-child > span:last-child {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.listCard > p:last-child {
  padding: 25px 22px;
  color: #f1f1f1;
  font-size: 14px;
}

@media (min-width: 1400px) {
  .testimonials {
    min-height: 100%;
  }
}
@media (max-width:1350px) {
  .listOrder {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1000px) {
  .testTitle {
    align-items: start;
    text-align: start;
  }
}
@media (max-width: 920px) {
  .listOrder {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 500px) {
  .listCard {
    background: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: auto;
  }
  .listCard > p:first-child, .listCard > p:last-child {
    padding: 0;
  }

}

