.folder-card {
  max-width: 320px;
  height: 170px;
  
  width: 100%;
  padding: 16px;

  background-color: colors.$bgLightSecondary;
  font-family: typegraphy.$fontFamilyMain;

  border-radius: radius.$border-large;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.folder-name {
  font-weight: 500;
  font-size: typegraphy.$font-size-p4;
  color: colors.$colorBlackMain;
}

.folder-details {
  font-weight: 400;
  font-size: typegraphy.$font-size-p5;
  color: colors.$textLightSecondary;

  display: flex;
  flex-direction: column;
  gap: 8px;
}
