@use '../../shared/ui/styles/colors' as colors;
@use '../../shared/ui/styles/radius' as borders;
@use '../../shared/ui/styles/typegraphy' as types;

.form {
  background-color: colors.$bgLightPrimary;
  max-width: 600px;
  width: 100%;
  padding: 32px;

  border-radius: borders.$border-large;

  display: flex;
  flex-direction: column;
  gap: 40px;

  font-family: types.$fontFamilyMain;
}

.form-label {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.fieldset {
  border: none;
}

.form-element-1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-element-1 > *:first-child, .form-element-1 > *:nth-child(2)  {
  max-width: none;
}

.form-element-2 {
  display: flex;
  align-items: center;
  gap: 8px;
  user-select: none;
  font-size: types.$font-size-p4;
  font-weight: 500;
  color: colors.$textLightDisabled;
}
.form-element-2 > span:nth-child(odd) {
 outline: 1px solid colors.$borderLightPrimary;
 width: 100%;
 max-height: 1px;
}
.button:nth-of-type(n) {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.register-button {
  text-decoration: none;
}

.google-button {
  text-transform: none;
}

.password-svg {
  cursor: pointer;
}
