@use '../../shared/ui/styles/colors' as colors;
@use '../../shared/ui/styles/radius' as borders;
@use '../../shared/ui/styles/typegraphy' as types;

.navbar {
  background-color: colors.$bgLightPrimary;
  display: flex;
  justify-content: space-between;
  border-radius: borders.$border-large;
}

.logo {
  margin: 11px 24px;
}

.open-element {
  margin: 8px 24px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.closed-element {
  margin: 12px 32px;
}

.language-toggler {
  cursor: pointer;
}
