@use '../../../styles/colors';
@use '../../../styles/typegraphy';
@use '../../../styles/radius';

.input-wrapper {
  position: relative;
}

.large-input-wrapper {
  width: 20px;
  height: 20px;
}
.medium-input-wrapper {
  width: 18px;
  height: 18px;
}
.small-input-wrapper {
  width: 16px;
  height: 16px;
}
.xs-input-wrapper {
  width: 14px;
  height: 14px;
}

.input-radio {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  margin: 0;
  transform: translate(-50%, -50%);
}

.large-input-radio {
  width: 20px;
  height: 20px;
}
.medium-input-radio {
  width: 18px;
  height: 18px;
}
.small-input-radio {
  width: 16px;
  height: 16px;
}
.xs-input-radio {
  width: 14px;
  height: 14px;
}

.radio-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  fill: colors.$bgLightAccent;
}
.hover-radio-svg {
  fill: colors.$bgLightAccentHover;
}
.active-radio-svg {
  fill: colors.$bgLightAccentActive;
}
.disabled-radio-svg {
  fill: colors.$textLightDisabled;
}

.large-radio-svg {
  max-width: 20px;
  max-height: 20px;
}
.medium-radio-svg {
  max-width: 18px;
  max-height: 18px;
}
.small-radio-svg {
  max-width: 16px;
  max-height: 16px;
}
.xs-radio-svg {
  max-width: 14px;
  max-height: 14px;
}

