@use '../../shared/ui/styles/colors' as colors;
@use '../../shared/ui/styles/radius' as borders;
@use '../../shared/ui/styles/typegraphy' as types;

.form {
  background-color: colors.$bgLightPrimary;
  max-width: 600px;
  width: 100%;
  padding: 32px;
  border-radius: borders.$border-large;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: types.$fontFamilyMain;
}

.form-label {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.form-element {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-element > *:nth-child(n)  {
  max-width: none;
}

.button:nth-of-type(n) {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

