@import '../../../styles/colors.scss';
@import '../../../styles/typegraphy.scss';
@import '../../../styles/radius.scss';

.select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 340px;
  height: max-content;
  font-family: $fontFamilyMain;
}

.select-opener {
  padding: 14px 18px;
  border: 1px solid $borderLightPrimary;
  border-radius: $border-large;
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  text-align: left;
  cursor: pointer;
}
.opener-button:hover {
  background-color: $bgLightSecondary;
}
.open-select-opener {
  background-color: $bgLightSecondary;
  border-color: $bgLightSecondary;
}

.select-text {
  width: 100%;
  color: $textLightSecondary;
}
.open-select-text {
  color: $textLightPrimary;
}

.large-select-text {
  font-size: $font-size-p3;
  font-weight: 500;
}
.medium-select-text {
  font-size: $font-size-p5;
  font-weight: 500;
}
.small-select-text {
  font-size: $font-size-p7;
  font-weight: 500;
}

.large-select-svg {
  max-width: 20px;
  max-height: 20px;
}
.medium-select-svg {
  max-width: 16px;
  max-height: 16px;
}
.small-select-svg {
  max-width: 14px;
  max-height: 14px;
}

.select-label {
  color: $textLightSecondary;
}

.select-list {
  width: inherit;
  padding: 8px;
  margin: 0;
  margin-top: 10px;
  background-color: $bgLightSecondary;
  border-radius: $border-large;
  opacity: 1;
  transition: opacity 0.3s ease;
  overflow: auto;
}
.select-element {
  list-style: none;
  width: 100%;
}

.select-element > * {
  width: 100%;
  justify-content: left;
  color: $textLightPrimary;
}
.select-element > * > svg {
  fill: $textLightPrimary;
}
.select-element > * > span {
  color: $textLightPrimary;
}

.select-element > *:hover {
  background-color: $bgLightAccentSubdued;
}

.select-element > * > *:last-child {
  margin-left: auto;
}
