@import '../../../styles/colors.scss';
@import '../../../styles/typegraphy.scss';
@import '../../../styles/radius.scss';

.select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 340px;
  height: max-content;
  font-family: var(--fontFamilyMain);
}

.select-opener {
  padding: 14px 18px;
  border: 1px solid var(--borderLightPrimary);
  border-radius: var(--border-large);
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  text-align: left;
  cursor: pointer;
}
.opener-button:hover {
  background-color: var(--bgLightSecondary);
}
.open-select-opener {
  background-color: var(--bgLightSecondary);
  border-color: var(--bgLightSecondary);
}

.select-text {
  width: 100%;
  color: var(--textLightSecondary);
}
.open-select-text {
  color: var(--textLightPrimary);
}

.large-select-text {
  font-size: var(--font-size-p3);
  font-weight: 500;
}
.medium-select-text {
  font-size: var(--font-size-p5);
  font-weight: 500;
}
.small-select-text {
  font-size: var(--font-size-p7);
  font-weight: 500;
}

.large-select-svg {
  max-width: 20px;
  max-height: 20px;
}
.medium-select-svg {
  max-width: 16px;
  max-height: 16px;
}
.small-select-svg {
  max-width: 14px;
  max-height: 14px;
}

.select-label {
  color: var(--textLightSecondary);
}

.select-list {
  width: inherit;
  padding: 8px;
  margin: 0;
  margin-top: 10px;
  background-color: var(--bgLightSecondary);
  border-radius: var(--border-large);
  opacity: 1;
  transition: opacity 0.3s ease;
  overflow: auto;
}
.select-element {
  list-style: none;
  width: 100%;
}

.select-element > * {
  width: 100%;
  justify-content: left;
  color: var(--textLightPrimary);
}
.select-element > * > svg {
  fill: var(--textLightPrimary);
}
.select-element > * > span {
  color: var(--textLightPrimary);
}

.select-element > *:hover {
  background-color: var(--bgLightAccentSubdued);
}

.select-element > * > *:last-child {
  margin-left: auto;
}
