:root {
  --bg-color: rgba(8, 9, 28, 0.04);
  --hover-bg-color: rgba(151, 71, 255, 0.06);
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-list {
  width: fit-content;
  padding: 8px;
  background-color: var(--bg-color);
  border-radius: 8px;
  opacity: 1;
  transition: opacity 0.3s ease;
  overflow: auto;

  position: absolute;
  z-index: 10;
}

.dropdown-element {
  list-style: none;
  width: 100%;
}

.dropdown-button {
  width: 100%;
  justify-content: left;
}

.dropdown-button:hover {
  background-color: var(--hover-bg-color);
}

.dropdown-button > *:last-child {
  margin-left: auto;
}
