@use '../../../styles/colors';
@use '../../../styles/typegraphy';
@use '../../../styles/radius';

.toggle-wrapper {
  border-radius: radius.$border-special;
  position: relative;
}

.light-toggle-wrapper {
  background-color: colors.$bgLightAccent;
}

.dark-toggle-wrapper {
  background-color: colors.$bgLightSecondary;
  outline: 1px solid colors.$borderLightPrimary;
}

.light-hover-toggle-wrapper {
  background-color: colors.$bgLightAccentHover;
}
.dark-hover-toggle-wrapper {
  background-color: colors.$bgLightSecondaryHover;  
}

.light-active-toggle-wrapper {
  background-color: colors.$bgLightAccentActive;
}
.dark-active-toggle-wrapper {
  background-color: colors.$bgLightSecondaryHoverActive;
}

.disabled-toggle-wrapper {
  outline: 1px solid colors.$borderLightPrimary;
  background-color: colors.$bgLightDisabled;
}

.large-toggle-wrapper {
  width: 40px;
  height: 20px;
}
.medium-toggle-wrapper {
  width: 36px;
  height: 18px;
}
.small-toggle-wrapper {
  width: 32px;
  height: 16px;
}
.xs-toggle-wrapper {
  width: 28px;
  height: 14px;
}

.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.toggle-input:disabled {
  cursor: default;
}

.large-toggle-input {
  width: 40px;
  height: 20px;
}
.medium-toggle-input {
  width: 36px;
  height: 18px;
}
.small-toggle-input {
  width: 32px;
  height: 16px;
}
.xs-toggle-input {
  width: 28px;
  height: 14px;
}

.toggler-svg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  margin-inline: 2px;
  transition: 0.3s ease;
}

.clicked-toggler-svg {
  left: 50%;
}

.light-toggler-svg {
  fill: colors.$bgLightPrimary;
}
.dark-toggler-svg {
  fill: colors.$colorBlack600;
}
.disabled-toggler-svg {
  fill: colors.$bgLightDisabled;
}

.large-toggler-svg {
  width: 16px;
  height: 16px;
}
.medium-toggler-svg {
  width: 14px;
  height: 14px;
}
.small-toggler-svg {
  width: 12px;
  height: 12px;
}
.xs-toggler-svg {
  width: 10px;
  height: 10px;
}
