:root {
  --light-toggle-color: rgba(255, 255, 255, 1);
  --dark-toggle-color: rgba(8, 9, 28, 0.88);
  --disabled-toggle-color: rgba(8, 9, 28, 0.08);

  --light-default-bg-color: rgba(151, 71, 255, 1);
  --dark-default-bg-color: rgba(8, 9, 28, 0.04);

  --light-hover-bg-color: rgba(134, 40, 255, 1);
  --dark-hover-bg-color: rgba(8, 9, 28, 0.08);

  --light-active-bg-color: rgba(122, 19, 255, 1);
  --dark-active-bg-color: rgba(8, 9, 28, 0.12);

  --disabled-bg-color: rgba(8, 9, 28, 0.08);

  --border-color: rgba(8, 9, 28, 0.12);
}

.toggle-wrapper {
  border-radius: 100px;
  position: relative;
}

.light-toggle-wrapper {
  background-color: var(--light-default-bg-color);
}
.dark-toggle-wrapper {
  background-color: var(--dark-default-bg-color);
  outline: 1px solid var(--border-color);
}

.light-hover-toggle-wrapper {
  background-color: var(--light-hover-bg-color);
}
.dark-hover-toggle-wrapper {
  background-color: var(--dark-hover-bg-color);  
}

.light-active-toggle-wrapper {
  background-color: var(--light-active-bg-color);
}
.dark-active-toggle-wrapper {
  background-color: var(--dark-active-bg-color);
}

.disabled-toggle-wrapper {
  outline: 1px solid var(--border-color);
  background-color: var(--disabled-bg-color);
}

.large-toggle-wrapper {
  width: 40px;
  height: 20px;
}
.medium-toggle-wrapper {
  width: 36px;
  height: 18px;
}
.small-toggle-wrapper {
  width: 32px;
  height: 16px;
}
.xs-toggle-wrapper {
  width: 28px;
  height: 14px;
}

.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.toggle-input:disabled {
  cursor: default;
}

.large-toggle-input {
  width: 40px;
  height: 20px;
}
.medium-toggle-input {
  width: 36px;
  height: 18px;
}
.small-toggle-input {
  width: 32px;
  height: 16px;
}
.xs-toggle-input {
  width: 28px;
  height: 14px;
}

.toggler-svg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  margin-inline: 2px;
  transition: 0.3s ease;
}

.clicked-toggler-svg {
  left: 50%;
}

.light-toggler-svg {
  fill: var(--light-toggle-color);
}
.dark-toggler-svg {
  fill: var(--dark-toggle-color);
}
.disabled-toggler-svg {
  fill: var(--disabled-toggle-color);
}

.large-toggler-svg {
  width: 16px;
  height: 16px;
}
.medium-toggler-svg {
  width: 14px;
  height: 14px;
}
.small-toggler-svg {
  width: 12px;
  height: 12px;
}
.xs-toggler-svg {
  width: 10px;
  height: 10px;
}
