$colorWhiteMain: #FFF;
$colorWhite600: rgba(255, 255, 255, 0.88);
$colorWhite500: rgba(255, 255, 255, 0.64);
$colorWhite400: rgba(255, 255, 255, 0.40);
$colorWhite300: rgba(255, 255, 255, 0.14);
$colorWhite200: rgba(255, 255, 255, 0.09);
$colorWhite100: rgba(255, 255, 255, 0.06);

$colorBlackMain: #08091C;
$colorBlack600: rgba(8, 9, 28, 0.88);
$colorBlack500: rgba(8, 9, 28, 0.60);
$colorBlack400: rgba(8, 9, 28, 0.36);
$colorBlack300: rgba(8, 9, 28, 0.12);
$colorBlack200: rgba(8, 9, 28, 0.08);
$colorBlack100: rgba(8, 9, 28, 0.04);

$colorPurple800: #7A13FF;
$colorPurple700: #8628FF;
$colorPurpleMain: #9747FF;
$colorPurple600: rgba(151, 71, 255, 0.88);
$colorPurple500: rgba(151, 71, 255, 0.60);
$colorPurple400: rgba(151, 71, 255, 0.36);
$colorPurple300: rgba(151, 71, 255, 0.14);
$colorPurple200: rgba(151, 71, 255, 0.10);
$colorPurple100: rgba(151, 71, 255, 0.06);

$colorRed800: #E51717;
$colorRed700: #E52E2E;
$colorRedMain: #E54545;
$colorRed600: rgba(229, 69, 69, 0.88);
$colorRed500: rgba(229, 69, 69, 0.60);
$colorRed400: rgba(229, 69, 69, 0.36);
$colorRed300: rgba(229, 69, 69, 0.14);
$colorRed200: rgba(229, 69, 69, 0.10);
$colorRed100: rgba(229, 69, 69, 0.06);

$bgLightPrimary:               $colorWhiteMain;
$bgLightSecondary:             $colorBlack100;
$bgLightSecondaryHover:        $colorBlack200;
$bgLightSecondaryHoverActive:  $colorBlack300;
$bgLightDisabled:              $colorBlack200;

$bgLightAccent:                $colorPurpleMain;
$bgLightAccentHover:           $colorPurple700;
$bgLightAccentActive:          $colorPurple800;

$bgLightAccentSubdued:         $colorPurple100;
$bgLightAccentSubduedHover:    $colorPurple200;
$bgLightAccentSubduedActive:   $colorPurple300;

$bgLightCritical:              $colorRedMain;
$bgLightCriticalHover:         $colorRed700;
$bgLightCriticalActive:        $colorRed800;

$bgLightCriticalSubdued:       $colorRed100;
$bgLightCriticalSubduedHover:  $colorRed200;
$bgLightCriticalSubduedActive: $colorRed300;

$textLightPrimary:             $colorBlackMain;
$textLightSecondary:           $colorBlack500;
$textLightDisabled:            $colorBlack400;

$textLightAccent:              $colorPurpleMain;    
$textLightAccentHover:         $colorPurple700;
$textLightAccentActive:        $colorPurple800;

$textLightAccentSubdued:       $colorPurple100;
$textLightAccentSubduedHover:  $colorPurple200;
$textLightAccentSubduedActive: $colorPurple300;

$textLightCritical:            $colorRedMain;
$textLightCriticalHover:       $colorRed700;
$textLightCriticalActive:      $colorRed800;

$iconLightPrimary:             $colorBlackMain;
$iconLightSecondary:           $colorBlack500;
$iconLightDisabled:            $colorBlack400;

$iconLightAccent:              $colorPurpleMain;    
$iconLightAccentHover:         $colorPurple700;
$iconLightAccentActive:        $colorPurple800;

$iconLightAccentSubdued:       $colorPurple100;
$iconLightAccentSubduedHover:  $colorPurple200;
$iconLightAccentSubduedActive: $colorPurple300;

$iconLightCritical:            $colorRedMain;
$iconLightCriticalHover:       $colorRed700;
$iconLightCriticalActive:      $colorRed800;

$borderLightPrimary: $colorBlack300;
$borderSecondary:    $colorBlack200; 
$borderFocus:        $colorBlackMain;

$borderAccent:       $colorPurpleMain;
$borderAccentHover:  $colorPurple700;
$borderAccentActive: $colorPurple800;

$borderCritical:     $colorRedMain;

