@use '../../../styles/colors';
@use '../../../styles/typegraphy';
@use '../../../styles/radius';

.input-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
}

.input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  transform: translate(0, 0);
  width: 20px;
  height: 20px;
}

.checkbox-svg {
  fill: colors.$bgLightAccent;
}
.hover-checkbox-svg {
  fill: colors.$bgLightAccentHover;
}
.active-checkbox-svg {
  fill: colors.$bgLightAccentActive;
}
.disabled-checkbox-svg {
  fill: colors.$textLightDisabled;
}

.large-checkbox {
  max-width: 20px;
  max-height: 20px;
}
.medium-checkbox {
  max-width: 18px;
  max-height: 18px;  
}
.small-checkbox {
  max-width: 16px;
  max-height: 16px;
}
.xs-checkbox {
  max-width: 14px;
  max-height: 14px;
}

.checkbox-list {
  display: flex;
  gap: 20px;
}

